label.class_name_of_label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
}

.class_name_of_container_of_form {
    position: relative;
}
